.container {
    height: 80vh;
    margin: 4rem auto 10rem;
    color: #fff;
    text-align: center;
}

.box { min-height: 5rem; }

.box1 { background-color: #bebbbb; }
.box2 { background-color: #444054; }
.box3 { background-color: #2f243a; }
.box4 { background-color: #2a2464; }