.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner {
    background-color: #0097b2;
    height: 100vh;
    display: flex;
}

h1 {
    font-size: 10em;
    padding: 4rem;
    line-height: .7em;
    width: 45%;
}

.banner__content {
    width: 55%;
    height: 100%;
}

.nature {
    background-color: #fdddd2;
    padding: 100px 0;
}

.nature__container {
    max-width: 970px;
    margin: 0 auto;
}

.sky {
    background-color: #181818;
    padding: 100px 15px;
}


.sky .img { border-radius: 7px; }


.ice {
    background-color: #fdddd2;
    padding: 100px 0;
}

.ice-1 img { height: 230px; }
.ice-2 img { height: 500px; }
.ice-3 img { height: 230px; }

.ice__container {
    max-width: 1080px;
    margin: 0 auto;
}

.ice__item h5 {
    font-weight: 700;
    margin: 15px 0 7px;
    text-decoration: underline;
}